a{
    text-decoration: none;
}

ul {
    list-style-type: circle;
}

body {
    color: rgb(246, 246, 250);
    margin: 0;
    display: flex;
    background-color: #111111;
}


.gauche {
    padding: 15px;
    width: 15%;
    background-image: url('../image/background-mosaic.jpg');
    background-size: cover;
}

.centre {
    padding: 15px;
    width: 65%;
    background-image: url("../image/texture-bakground.jpg");
    display: flex;
    flex-direction: column;
}

.droite {
    padding: 15px;
    width: 20%;
    background-image: url('../image/background-mosaic.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.photo_profil {
    display: flex;
    justify-content: center;
    border-radius: 90px;
}

.cv {
    text-align: center;

}

.titre {
    text-align: center;
    border-style: dashed solid;
    border-radius: 90px;

    border-color: gold;
}

.objectifs {
    text-align: center;
}

.h1 {
    text-align: center;
}

.h3 {
    margin-left: 5%;
}

.informations {
    text-align: center;
}

.qualites {
    margin-left: 5%;
}

.hobbies {
    margin-left: 5%;
}

.competences {
    margin-left: 5px;
}

.photo_dev {
    display: flex;
    justify-content: center;
}

.texte-centre {
    line-height: 2.5;
}

#logiciels {
    margin-left: 5%;
}

#languages_web {
    margin-left: 5%;
}

#langues {
    margin-left: 5%;
}

iframe {
    width: 100%;
    height: 200px;
}

.tigre {
    display: flex;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px auto;
    background-color: #f3bc09;
    padding: 10px;
    border-radius: 40px;
    flex-direction: column;
}

.grid-item {
    background-color: rgba(8, 8, 8, 0.8);
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 15px;
    text-align: left;
}

.contact {
    border: #f60404 solid 5px;
    margin: 0 auto;
    width: 100px;
    flex-direction: column;
}

#map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube {
    display: flex;
}

#portefolio,
a {
    background-color: orangered;
    color: white;
    border-radius: 50% 20% / 10% 40%;
    height: 50%;
}

.moi{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.travauxréalisés{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.videoyoutube{
    height: 250px;
}

.presentation {
    text-align: center;
    border-style: solid;
    border-radius: 45px;
    background-color: #372C0C;
    border-color: gold;
    border-width: 10px;
}





